body {
    padding-left: 0;
    max-width: 100vw;
    width: 100%;
    overflow-x: scroll;
    background: rgba(43,32,28,0.8);
    margin-top: 0;
}

article {
    max-width: 1600px;
    margin: 0 auto;
    background: rgb(255,255,248);
    padding-bottom: 0;
    margin-bottom: 0;
}
article > footer {
    background: rgba(43,32,28,0.8);
    color: white;
}
footer > div {
    display: flex; 
    width: 100%; 
    justify-content: space-between; 
    padding-top: 2rem;
}
article > footer img {
    height: 4rem;
    width: auto;
}
#fundingblurb {
    margin: 0;
    width: 50%;
}
section {
    padding-bottom: 0;
}
/*
header {
    margin-bottom: 10rem;
}
*/
.wide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wide h1 {
    hyphens: none;
    text-align: center;
}

.sidebyside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 85%;
    margin: 0;
    padding: 0;
}
.sidebyside img {
    margin: 1rem 3rem 0 1rem;
}

.showcase {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.showcase > div {
    overflow: hidden;
    position: relative;
    width: 80%;
    border-radius: 4px;
    margin-bottom: 10rem;
}

.showcase > div > img {
    position: absolute;
    z-index: 0;
}

.showcase > div > *:not(img) {
    display: flex;
    flex-direction: row;
    margin: 3rem 0 3rem 0;
    background: rgba(0.5,0.5,0.5,0.6);
    color: white;
    text-shadow: 1px 1px 2px black;
    z-index: 1;
    position: relative;
}

.showcase a[href] {
}

.showcase > div:nth-child(odd) {
    align-self: flex-start;
}
.showcase > div:nth-child(even) {
    align-self: flex-end;
}
.showcase h1 {
    margin-top: 1rem;
}
.showcase p, .showcase h1 {
    width: 48%;
    padding: 1.5rem 0.5rem 1.5rem 1.5rem;
}
.showcase p {
}

.wide p {
    width: 75%;
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin: 5rem 0 5rem 0;
}

.wide blockquote p {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
}

#spinner {
    display: flex;
    /*position: absolute;
    width: 100vw;
    height: 100vh;*/
    margin: 0 auto;
    padding: 5rem;
    align-items: center;
    justify-content: center;
}

#personsspinner {
    display: flex;
    /*position: absolute;
    width: 100vw;
    height: 100vh;*/
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

#spinner > div {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border: 10px solid rgba(0,0,0,.3);
    border-radius: 50%;
    border-top-color: rgb(0,0,0);
    animation: spin 1s linear infinite;
}

#personsspinner > div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 5px solid rgba(0,0,0,.3);
    border-radius: 50%;
    border-top-color: rgb(0,0,0);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

#index {
    visibility: hidden;
}
#index_wrapper {
    padding: 1rem;
}
table, #index {
    font-size: 1.4rem;
    margin: 0 auto;
    /*width: 85%;*/
}

thead {
    top: 0;
    position: sticky;
    z-index: 1;
    hyphens: none;
}

/*
thead th {
    max-width: 30ch !important;
}
*/
th.sorting {
    background-color: #eee;
    color: #444444;
    cursor: default;
}
thead a:link {
    background: none;
}

tbody th {
    text-align: left;
}

.dataTables_scrollHeadInner {
    margin: 0 auto; /* otherwise scrollX: true puts the header in the wrong place for narrow tables*/
}

th.subpart, .dataTable-table > tbody > tr > th.subpart {
    padding-left: 1rem;
}
th.subsubpart, .dataTable-table > tbody > tr > th.subsubpart {
    padding-left: 1.5rem;
}
th, td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
td {
    hyphens: auto;
}
a.shelfmark {
    font-weight: bold;
}

table.dataTable tbody tr.even {
    background-color: rgba(239,239,205,0.5);
}

.smallcaps {
    font-variant: small-caps; 
    font-size: 0.8em;
}
/*
a[href] {
    color: rgb(17,17,17);
}
*/
a[href] {
    background-image: none;
    text-shadow: none;
    text-decoration: underline;
}

a[href]:hover {
    /*background-color: rgb(255,255,248);
    color: rgba(198,210,241,1);*/
    color: rgb(91,124,184);
}
a[href]::after {
    background: none;
    padding-right: 0;
}
a[href]:hover::after {
    background: none;
    padding-right: 0;
}

#menu a[href], .showcase a[href] {
    color: white;
    text-decoration: none;
}

#menu a[href]:hover, #menu a[href]:active, a[href]:hover h1, a[href]:active h1, footer a[href]:hover, footer a[href]:active {
    color: rgba(198,210,241,1);
    text-shadow: 2px 2px 2px black;
}

footer a[href] {
    color: white;
}

#menu {
    display: flex;
    /*min-width: 1000px;*/
    /*background-color: #eee;*/
    background: rgba(43,32,28,0.8);
    /*color: #222222;*/
    color: white;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1.2rem;
    word-break: keep-all;
    hyphens: none;
    width: 100%;
    z-index: 3;
    margin-top: -5rem;
    cursor: default;
}

#menu .logo {
    margin-right: auto;
    padding: 0;
    font-size: 2.2rem;
    margin-bottom: 0;
    margin: 1rem auto 0 0.3rem;
    line-height: 0.8rem;
}

#menu > div.homebutton {
    display: none;
}
#menu > div {
    margin-left: 5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

#menu > div:last-of-type {
    padding-right: 5px;
}

#menu .selected {
    background-color: rgb(255,255,248);
}

#menutoggle, #togglelabel {
    display: none;
}

.dropper:hover {
    /*background-color: rgb(255,255,248);*/
    background: rgba(43,32,28,0.8);
}

#tooltip {
    display: block;
    position: fixed;
    background: rgba(17,17,17,0.8);
    border-radius: 4px;
    color: #fff;
    font-style: normal;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: normal;
    line-height: normal;
    vertical-align: middle;
    padding: 0.5em 1em;
    margin-bottom: 11px;
    max-width: 200px;
    z-index: 3;
}

#tooltip hr {
    border: 0;
    margin-bottom: 3px;
    margin-top: 3px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));
}
.dropper {
    position: relative;
    display: inline-block;
}
.dropped {
    display: none;
    position: absolute;
    z-index: 2;
    /*background-color: #eee;*/
    background: rgba(43,32,28,0.8);
    margin: 0.5rem 0 0 0 ;
    padding: 0 2rem 0.5rem 0;
    right: 0;
    text-align: right;
    width: max-content;
    border-radius: 0 0 4px 4px;
    box-shadow: 1px 1px 2px black;
}
.dropped .indent {
    margin-right: 1rem;
}

.dropped a {
    width: 100%;
    display: block;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    /*background-color: #eee;*/
}

.dropper:hover .dropped {
    display: block;
}

/*
.legend-square {
    width: 20px;
    height: 20px;
    margin-right: 1em;
}

.legend-label {
    font-size: 1.2em;
}

.legend-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

#legend {
    position: absolute;
    z-index: -1;
}
*/

.highlit {
    background: rgba(239,239,61,0.5);
}

div.lg {
    padding-left: 0;
}

span.invisinote {
          font-size:80%;
}

span.invisinote::after {
    content: '[' attr(data-content) ']';
}

.stats {
    display: none;
    position: relative;
}
 
#index_filter {
    display: none;
}

#filter_inputs th {
    background: rgb(255,255,248);
}
#filter_inputs input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
}

@media (max-width: 1200px) {
    .dataTable-container {
        overflow-x: auto;
    }
    #menu > div {
        margin-left: 3rem;
    }
    #menu > div:last-of-type {
        padding-right: 1.5rem;
    }
}

span.gaiji-context {
    /*color: rgba(17,17,17,0.5);*/
}
span.gaiji-context .gaiji-selected {
    background: rgba(239,239,61,0.5);
    /*color: rgba(17,17,17,1);*/
}

address {
    font-style: normal;
}

#tabright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: default;
    visibility: hidden;
    border-bottom: 1px solid rgb(68,68,68);
    padding-bottom: 3px;
}

#tabright div {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 2px;
    border-radius: 2px;
    color: rgb(68,68,68);
}

#tabright div.selected {
    border: 1px solid rgba(0,0,0,0.3);
	background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}

#tabright div:not(.selected):hover, .dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled, .current):hover {
    background: rgba(43,32,28,0.8);
    color: white;
    text-shadow: 2px 2px 2px black;
    border: 1px solid rgba(43,32,28,0.8);
}
#index_filter {
    margin-bottom: 5px;
}

#network {
    width: 100%;
    height: 100vh;
    display: none;
}

#networklegend {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /*background: rgba(255,255,248,0.85);*/
    background: white;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 1.2rem;
    border-bottom: 1px dotted black;
    width: 100%;
    margin: 0 auto;
}

#networklegend div {
    margin-right: 1rem;
}
#networklegend span {
    margin-right: 0.5ch;
}
#networklegend .line {
    width: 1.5rem;
    opacity: 0.5;
    display: inline-block;
    vertical-align: middle;
}
#networklegend .msbox {
    background: #666;
    opacity: 0.5;
    width: 25px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
}
#networklegend .persbox {
    color: #666;
    vertical-align: -1px;
}

blockquote {
    width: 55%;
}
blockquote footer {
    width: 100%;
}

#ftsinput, #queryinput {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 3px;
}

#ftsinput {
    width: 90ch;
    max-width: 98vw;
    visibility: hidden;
}
#queryinput {
    width: 100%;
    max-width: 80vw;
}

#querycontainer {
    display: none;
}
#queryparameters {
    display: none;
}
#queryparameters p {
    font-size: 1.4rem;
    line-height: 1.5rem;
    padding: 0;
    margin: 1rem;
    width: 100%;
}

fieldset {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    font-size: 1.2rem;
    width: 80%;
    margin: 1rem;
}
#personsfield {
    flex-direction: row;
    flex-wrap: wrap;
}
fieldset div {
    padding: 0.5rem;
}
.indent {
    margin-left: 2rem;
}

.vsb-menu p {
    line-height: inherit;
    width: inherit;
    margin: inherit;
}

.vsb-main {
    margin-right: 0.7rem;
}

.vsb-main .caret {
    margin-right: 4px;
}

.vsb-main .title {
    padding-right: 2px;
}

.vsb-main button {
    font-size: 1.4rem;
    font-family: brill, et-book, serif;
    border-radius: 0.3rem;
}

.vsb-main button:hover {
    color: black;
}

.vsb-menu {
    margin-left: 10px;
    margin-top: -10px;
    max-width: 50em;
}

.vsb-menu .multi li {
    font-size: 1.2rem;
}

.vsb-menu .multi li.grouped-option {
    font-size: 1.2rem;
    padding-left: 1.5em;
}

.vsb-menu li.grouped-option i {
    display: none;
}

.vsb-menu li.grouped-option.open span {
    margin-left: 5px;
}

#gptin {
    width: 100%;
    display: flex;
    justify-content: center;
}
#gptin input {
    width: 80%;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.5rem;
}

@media (max-width: 1080px) {
    article > footer img {
        height: 2rem;
        padding: 1rem;
    }
    #fundingblurb {
        margin: 1rem;
    }
}

@media (max-width: 992px) {
    body {
        padding-right: 0;
    }
    .showcase > div {
        width: 100%;
    }
    .showcase p, .showcase h1 {
        margin: 0 auto;
        width: auto;
    }

    article > footer > div {
        flex-wrap: wrap;
        width: 95%;
        margin: 0 auto;
    }
    article > footer address {
        margin: 1rem;
    }
    #fundingblurb {
        width: 100%;
    }
    #menu {
        flex-direction: column;
    }
    #menu > div {
        text-align: right;
        margin-right: 1rem;
    }
    #menu > div {
        display: none;
    }
    @keyframes blink {
        0% { width: 1.2rem; padding-right: 0.4rem;}
        25% { width: 1.5rem; padding-right: 0.4rem;}
        50% { width: 1.9rem; padding-right: 0.3rem;}
        75% { width: 2.3rem; padding-right: 0.2rem;}
        100% { width: auto; padding-right: 0;}
    }
    #togglelabel {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
    }
    #togglelabel div {
        overflow: clip;
        font-size: 2rem;
        transition: color 0.3s ease-in-out;
        transition: text-shadow 0.3s ease-in-out;
    }

    #menutoggle:checked ~ div:not(.logo) {
        display: block;
    }
    #menutoggle:checked ~ #togglelabel div {
        animation: blink normal 0.3s 1 ease-in-out;
        color: rgba(198,210,241,1);
        text-shadow: 2px 2px 2px black;
        font-feature-settings: "aalt" 1;
    }
    .dropped {
        position: relative;
        background: none;
        width: auto;
        box-shadow: none;
        display: block;
    }
    .wide p {
        font-size: 1.3rem;
        line-height: 2.2rem;
    }
    table, #index {
        font-size: 1.2rem;
    }
}

@media (max-width: 688px) {
    .showcase > div > :not(img) {
        flex-direction: column;
        margin-top: 0;
    }
    .sidebyside {
        flex-direction: column;
        width: 100%;
    }
    .sidebyside p {
        width: 100%;
    }

    .wide h1 {
        font-size: 2.8rem;
        width: 95%;
    }
    .showcase h1 {
        font-size: 2.5rem;
    }
    .showcase p, #fundingblurb {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }
    .wide p {
        width: 85%;
    }
    blockquote {
        width: 75%;
    }
    .wide blockquote p {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
}
